In [1]:
import pandas as pd

In [2]:
#pandas is used to analyse, clean, explore and manipulate data

In [4]:
a={'car':['Benz', 'Volve', 'Toyota'], 'Price':['30M', '1.5M', '4.7M']}
v=pd.DataFrame(a)
print(v)
#DataFrame

      car Price
0    Benz   30M
1   Volve  1.5M
2  Toyota  4.7M

In [5]:
#difference btw a series and a DataFrame

In [6]:
#serie
a=[9,'Toyota', 'Camry']
v=pd.Series(a)
v

0         9
1    Toyota
2     Camry
dtype: object

In [7]:
a=['Volvo','Toyota', 'Camry']
v=pd.Series(a)
v

0     Volvo
1    Toyota
2     Camry
dtype: object

In [10]:
#How to slice 
print(a[1])

Toyota

In [11]:
#How to creat a label with index argument

In [12]:
a=['Volvo','Toyota', 'Camry']
v=pd.Series(a,index=['a','b','c'])
v

a     Volvo
b    Toyota
c     Camry
dtype: object

In [13]:
import numpy as np

In [18]:
L=['a', 'b','c','d']
K=[1,2,3,4,]
op=np.array(K)
d={'a':1,'b':2, 'c':3,'d':4}
print(L)
K
op
d

['a', 'b', 'c', 'd']

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
a=pd.Series(data = K,dtype='i')
a[0]

1

In [31]:
pd.Series([2,3,1,7], ['USA', 'Russia', 'Canada', 'Nigeria'])

USA        2
Russia     3
Canada     1
Nigeria    7
dtype: int64

In [33]:
v=pd.Series([2,3,1,7], ['USA', 'Russia', 'Canada', 'Nigeria'])
y=pd.Series([1,2,3,4],['USA', 'Turkey', 'Canada', 'Nigeria'])
print(y)

USA        1
Turkey     2
Canada     3
Nigeria    4
dtype: int64

In [34]:
v['USA']

2

In [35]:
v['Nigeria']

7

In [40]:
a[0]= 10

In [42]:
v[0]

2

In [43]:
#concatenating a list

In [44]:
z=y+v
z

Canada      4.0
Nigeria    11.0
Russia      NaN
Turkey      NaN
USA         3.0
dtype: float64

In [45]:
#DataFrame